@model medicinecategory;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Of Medicines Update Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h1 class="mt-5 mb-4">Category Of Medicines Update Form</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" class="form-control" name="client_id" value="@Model.medicinecat_id" />
            <div class="mb-3">
                <label for="fullName" class="form-label">Cateogry Name</label>
                <input type="text" class="form-control" name="medicinecat_name" value="@Model.medicinecat_name" placeholder="Enter your cateogry name" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Cateogry Image</label>
                <input type="file" class="form-control" name="medicinecat_image" value="@Model.medicinecat_image" placeholder="Upload your cateogry image" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
